body {
  background-image: linear-gradient(rgb(201, 201, 201), rgb(112, 112, 112));
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0;
}
p {
  max-width: 1000px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  background: rgb(216, 229, 255);
  border-radius: 4px;
  border: 5px solid rgb(110, 115, 146);
  font-family: Arial, Helvetica, sans-serif;
}
li {
  max-width: 1000px;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
  text-align: left;
  font-size: smaller;
  background: rgb(216, 229, 255);
  border-radius: 5px;
  border: 2px solid rgb(110, 115, 146);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  display: block;
  width: 100%;
  margin-top: 0;
  padding: 3rem 0px 3rem 10px;
  text-align: center;
  background: rgb(155, 188, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
h2 {
  max-width: 1000px;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  border: 5px;
  background: rgb(203, 220, 255);
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  max-width: 1000px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  background: rgb(203, 220, 255);
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.examplebox {
  margin-left: 8rem;
  margin-bottom: 1rem;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: 15px solid brown;
  padding: 50px;
  float: left;
}
.examplecoderight {
  display: block;
  margin-left: auto;
  margin-right: 8rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 30%;
  height: auto;
  border-radius: 5px;
  border: 0.5rem solid rgb(110, 115, 146);
  float: right;
}

.imgcentre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 50%;
  height: auto;
  border-radius: 5px;
  border: 0.5rem solid rgb(110, 115, 146);
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  margin-top: 3rem;
  padding: 3rem 0px 3rem 10px;
  text-align: center;
  background: rgb(155, 188, 255);
}
